<body>
  <section class="client_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="custom_heading">게시글</h2>
    </div>
    <br />
    <div class="client_container" style="display: inherit">
      <div>
        <table class="table"></table>
      </div>
    </div>
  </section>
</body>
