<div class="chat_wrap">
  <div class="header">CHAT</div>
  <div class="chat">
    <ul>
      <!-- 동적 생성 -->
    </ul>
  </div>
  <div class="input-div">
    <textarea
      id="message-btn"
      placeholder="Press Enter for send message."
    ></textarea>
  </div>

  <!-- format -->

  <div class="chat format">
    <ul>
      <li>
        <div class="sender">
          <span></span>
        </div>
        <div class="message">
          <span></span>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const userId = localStorage.getItem('userId');
    let userName;
    if (userId) {
      axios
        .get('/api/auth/user', {
          params: {
            whereColumns: { id: userId },
            selectColumns: ['name'],
          },
        })
        .then((response) => {
          userName = response.data.name;
        })
        .catch((error) => {
          alert(error.response.data.message);
        });
    }

    const messageBtn = document.querySelector('#message-btn');
    messageBtn.addEventListener('keyup', function (e) {
      if (e.keyCode === 13 && !e.shiftKey) {
        if (this.value === '\n') {
          return (this.value = '');
        }

        const senderName = userName ?? '익명의 사용자';
        socket.emit('message', {
          message: this.value,
          senderName,
          id: socket.id,
        });
        this.value = '';
      }
    });
  });
</script>
