  <body class="sub_page">
    
    <!-- end hero area -->

    <!-- client section -->
    <section class="client_section layout_padding">
      <div class="d-flex justify-content-center">
        <h2 class="custom_heading">후기</h2>
      </div></br>
      <div class="client_container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">번호</th>
              <th scope="col" colspan="2">제목</th>
              <th scope="col">작성자</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td colspan="2">예시 1번</td>
              <td>상우</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td colspan="2">예시 2번</td>
              <td>유</td>
            </tr>

          </tbody>
        </table>
      </div>
    </section>

  </body>
</html>
