<div class="reviews">
  <tr>
    <div style="height: 550px">
      <input
        type="text"
        id="title"
        placeholder="제목"
        style="width: 30%; text-align: left"
      /><br />
      <div
        style="
          margin-top: 30px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        "
      >
        <textarea
          id="content"
          placeholder="내용"
          style="width: 50%; height: 350px; text-align: left"
        ></textarea>
      </div>
      <button
        onclick="window.location.href='/view/community'"
        id="review-list-btn"
      >
        이전으로
      </button>
      <button id="write-btn">작성완료</button>
    </div>
  </tr>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // 쿠키에 담겨있는 주문목록을 가져온다.(리뷰작성이 가능한 주문목록)
    const canReviewOrdes = JSON.parse(document.cookie.split('=')[1]);

    const orderIdInput = document.getElementById('orderid');
    orderIdInput.value = '주문 ID값';
    // 리뷰 작성을 하면 isReview 를 true 로 바뀐다
    // 쿠키를 삭제한다

    function writeReviewAndDeleteCookie(id) {
      const order = canReviewOrdes.find((order = order.id === id));
      if (!order) return;
      order.isReview = ture;
      document.cookie =
        'canReviewOrders=; path=/view/community-post; expires=Sat, 01 Jan 1972 00:00:00 GMT';
      return canReviewOrdes;
      debugger;
    }

    // input data
    const titleInput = document.querySelector('#title');
    const contentInput = document.querySelector('#content');

    // btn
    const writeListBtn = document.querySelector('#write-btn');

    writeListBtn.addEventListener('click', () => {
      axios
        .post('/api/reviews', {
          title: titleInput.value,
          content: contentInput.value,
          orderId: orderIdInput.value,
        })
        .then(() => {
          window.location.href = '/view/community';
        });
    });
  });
</script>
