<!DOCTYPE html>
<html>
  <%-include('./components/head') %>
  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <%-include('./components/header') %>
      <!-- end header section -->
      <!-- hero section -->
      <section class="hero_section">
        <div class="hero_detail">
          <img
            src="/images/campphoto1.jpg"
            class="rounded float-start"
            style="width: 40rem"
            alt="..."
          />
          <img
            src="/images/campphoto1.jpg"
            class="rounded float-end"
            style="width: 40rem"
            alt="..."
          />
        </div>
      </section>
      <!-- end hero section -->
    </div>
    <!-- end hero area -->

    <!-- footer section -->
    <%-include('./components/footer') %>
    <!-- footer section -->
  </body>
</html>
