<div class="hero_detail">
  <img
    src="/images/campphoto1.jpg"
    class="rounded float-start"
    style="width: 40rem"
    alt="..."
  />
  <img
    src="/images/campphoto1.jpg"
    class="rounded float-end"
    style="width: 40rem"
    alt="..."
  />
</div>
