<!DOCTYPE html>
<html lang="en">
    <%-include('components/head.ejs') %> 
  <body>

    
    <% if(components === 'main'){ %> 
      <%-include('main.ejs') %> 
    <%} %>
    <% if(components === 'signup'){ %> 
      <%-include('sign-up.ejs') %> 
    <%} %>
  </body>
</html>
