<div class="hero_detail">
  <img class="rounded float-end" style="width: 40rem" alt="..." />
  <br />

  <h2>문의사항은 DM으로 보내주세요... 제발🙏🙏</h2>
</div>
<script>
  const imgs = document.querySelectorAll('div.hero_detail img');
  imgs[0].src = `${BASIC_CDN}/문의사항은DM으로.png`;
</script>
