<!DOCTYPE html>
<html>
  <%-include('./components/head') %>
  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <%-include('./components/header') %>
      <!-- end header section -->
      <!-- hero section -->
      <section class="hero_section">
        <div class="hero_detail">
          <img
            src="/images/문의사항은DM으로.png"
            class="rounded float-end"
            style="width: 40rem"
            alt="..."
          />
          <br />

          <h2>문의사항은 DM으로 보내주세요</h2>
        </div>
      </section>
      <!-- end hero section -->
    </div>
    <!-- end hero area -->

    <!-- footer section -->
    <section class="container-fluid footer_section">
      <p>
        &copy; 2019 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </section>
    <!-- footer section -->
  </body>
</html>
