<body>
  <%-include('./components/login-form.ejs') %>

  <script src="/js/main.js"></script>
  <script>
    const userId = document.querySelector('#userId');
    const password = document.querySelector('#password');

    const findIdBtn = document.querySelector('#findId-btn');
    const loginBtn = document.querySelector('#login-btn');
    const signupBtn = document.querySelector('#signup-btn');

    loginBtn.addEventListener('click', () => {
      try {
        axios
          .post('/api/auth/log-in', {
            userId: userId.value,
            password: password.value,
          })
          .then((response) => {
            const { accessToken, refreshToken } = response.data;
            document.cookie = `accessToken=${accessToken}; path=/; HttpOnly`;
            document.cookie = `refreshToken=${refreshToken}; path=/; HttpOnly`;
            window.location.href = '/';
          })
          .catch((error) => {
            alert(error.response.data.message);
            password.value = '';
          });
      } catch (error) {
        console.error(error.message);
      }
    });

    password.addEventListener('keyup', (e) => {
      if (e.keyCode === 13) {
        loginBtn.click();
      }
    });
  </script>
</body>
