<body class="sub_page">
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="about_container">
      <div class="d-flex justify-content-center">
        <h2 class="custom_heading">캠프 예약안내</h2>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">캠프</th>
            <th scope="col">기본가</th>
            <th scope="col">유형</th>
            <th scope="col">기준인원 초과요금</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">칼날부리, 늑대, 두꺼비, 작은골렘</th>
            <td>50000</td>
            <td>type : 1</td>
            <td>10000</td>
          </tr>
          <tr>
            <th scope="row">블루골렘, 레드골렘</th>
            <td>100000</td>
            <td>type : 2</td>
            <td>15000</td>
          </tr>
          <tr>
            <th scope="row">드래곤, 바론</th>
            <td>150000</td>
            <td>type : 3</td>
            <td>20000</td>
          </tr>
        </tbody>
      </table>
      <div class="guide">
        ※ 입실·퇴실 안내<br />
        입실 : 15:00 이후, 퇴실 : 11:00 이전 22시 이후 입실하실 경우 펜션으로<br />
        사전 연락 부탁드립니다.
      </div>
      <hr class="hr-solid" />
      <div>
        <table id="testTable" class="select-camp">
          <tbody>
            <thead>
              <tr>
                <th>캠프</th>
                <th>가격</th>
                <th>타입</th>
                <th>Additional Person</th>
                <th>Number of People</th>
                <th>선택</th>
              </tr>
            </thead>
            <tr id="camp1" data-campname="red-blade">
              <td id="red-blade-name">칼날부리(Red)</td>
              <td id="red-blade-price">50,000</td>
              <td id="red-blade-type">1</td>
              <td>
                <input
                  type="number"
                  id="red-blade-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="red-blade-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp2" data-campname="red-wolf">
              <td id="red-wolf-name">늑대(Red)</td>
              <td id="red-wolf-price">50,000</td>
              <td id="red-wolf-type">1</td>
              <td>
                <input
                  type="number"
                  id="red-wolf-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="red-wolf-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp3" data-campname="red-toad">
              <td id="red-toad-name">두꺼비(Red)</td>
              <td id="red-toad-price">50,000</td>
              <td id="red-toad-type">1</td>
              <td>
                <input
                  type="number"
                  id="red-toad-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="red-toad-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp4" data-campname="red-golem">
              <td id="red-golem-name">작은골렘(Red)</td>
              <td id="red-golem-price">50,000</td>
              <td id="red-golem-type">1</td>
              <td>
                <input
                  type="number"
                  id="red-golem-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="red-golem-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp5" data-campname="red-blueGolem">
              <td id="red-blueGolem-name">블루골렘(Red)</td>
              <td id="red-blueGolem-price">100,000</td>
              <td id="red-blueGolem-type">2</td>
              <td>
                <input
                  type="number"
                  id="red-blueGolem-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="red-blueGolem-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp6" data-campname="red-redGolem">
              <td id="red-redGolem-name">레드골렘(Red)</td>
              <td id="red-redGolem-price">100,000</td>
              <td id="red-redGolem-type">2</td>
              <td>
                <input
                  type="number"
                  id="red-redGolem-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="red-redGolem-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp7" data-campname="blue-blade">
              <td id="blue-blade-name">칼날부리(Blue)</td>
              <td id="blue-blade-price">50,000</td>
              <td id="blue-blade-type">1</td>
              <td>
                <input
                  type="number"
                  id="blue-blade-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="blue-blade-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp8" data-campname="blue-wolf">
              <td id="blue-wolf-name">늑대(Blue)</td>
              <td id="blue-wolf-price">50,000</td>
              <td id="blue-wolf-type">1</td>
              <td>
                <input
                  type="number"
                  id="blue-wolf-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="blue-wolf-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp9" data-campname="blue-toad">
              <td id="blue-toad-name">두꺼비(Blue)</td>
              <td id="blue-toad-price">50,000</td>
              <td id="blue-toad-type">1</td>
              <td>
                <input
                  type="number"
                  id="blue-toad-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="blue-toad-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp10" data-campname="blue-golem">
              <td id="blue-golem-name">작은골렘(Blue)</td>
              <td id="blue-golem-price">50,000</td>
              <td id="blue-golem-type">1</td>
              <td>
                <input
                  type="number"
                  id="blue-golem-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="blue-golem-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp11" data-campname="blue-blueGolem">
              <td id="blue-blueGolem-name">블루골렘(Blue)</td>
              <td id="blue-blueGolem-price">100,000</td>
              <td id="blue-blueGolem-type">2</td>
              <td>
                <input
                  type="number"
                  id="blue-blueGolem-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="blue-blueGolem-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp12" data-campname="blue-redGolem">
              <td id="blue-redGolem-name">레드골렘(Blue)</td>
              <td id="blue-redGolem-price">100,000</td>
              <td id="blue-redGolem-type">2</td>
              <td>
                <input
                  type="number"
                  id="blue-redGolem-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="blue-redGolem-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp13" data-campname="dragon">
              <td id="dragon-name">드래곤</td>
              <td id="dragon-price">150,000</td>
              <td id="dragon-type">3</td>
              <td>
                <input
                  type="number"
                  id="dragon-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="dragon-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
            <tr id="camp14" data-campname="baron">
              <td id="baron-name">바론</td>
              <td id="baron-price">150,000</td>
              <td id="baron-type">3</td>
              <td>
                <input
                  type="number"
                  id="baron-people"
                  min="1"
                  max="4"
                  value="1"
                />
              </td>
              <td>
                <input
                  type="number"
                  id="baron-select"
                  min="0"
                  max="4"
                  value="0"
                />
              </td>
              <td><button onclick="selectItem(this)">선택</button></td>
            </tr>
          </tbody>
        </table>
        <hr class="hr-solid" />
        <div id="payment-info" class="paymentInfo">
          <div class="d-flex justify-content-center">
            <h2 class="custom_heading">내가 선택한 캠프 확인</h2>
          </div>
          <p></p>
          <p>캠프명 : <span id="camp-name"></span></p>
          <p>캠프 가격 : <span id="camp-price"></span></p>
          <p>총 인원 : <span id="total-people"></span></p>
          <p>총 가격 : <span id="total-price"></span></p>
        </div>
      </div>
    </div>
  </section>
</body>
<script>
  // 소켓 접속
  const reserveDay = '<%- day %>';
  const socket = io('<%- socketReserve %>', {
    query: {
      day: reserveDay,
    },
  });

  // 소켓 통신
  socket.on(reserveDay, (data) => {
    console.log(`접속중인 유저: ${data}`);
  });
</script>
