<body class="sub_page">
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="custom_heading">객실 예약안내</h2>
    </div>
    <div class="about_container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">객실</th>
            <th scope="col">가격</th>
            <th scope="col">유형</th>
            <th scope="col">기준인원 초과요금</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
