<!DOCTYPE html>
<html>
  <%-include('./components/head') %>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <%-include('./components/header') %>
      <!-- end header section -->
    </div>
    <!-- end hero area -->

    <!-- product section -->

    <section class="product_section layout_padding">
      <div class="d-flex justify-content-center">
        <h2 class="custom_heading">전체 위성도</h2>
      </div>
      <div class="container layout_padding2">
        <div class="img-box box-1">
          <img src="/images/map_1.jpg" alt="" />
        </div>
        <div class="img-box box-2">
          <img src="/images/캠핑장.png" alt="" />
        </div>
      </div>
    </section>
    <section class="product_section layout_padding">
      <div class="d-flex justify-content-center">
        <h2 class="custom_heading">캠프</h2>
      </div>
      <div class="container layout_padding2">
        <div class="img-box box-1">
          <img src="/images/camp_A.jpg" alt="" />
        </div>
        <div class="img-box box-2">
          <img src="/images/camp_B.jpg" alt="" />
        </div>
        <div class="img-box box-3">
          <img src="/images/camp_A.jpg" alt="" />
        </div>
        <div class="img-box box-4">
          <img src="/images/camp_B.jpg" alt="" />
        </div>
      </div>
    </section>
    <!-- end product section -->
    <!-- footer section -->
    <%-include('./components/footer') %>
    <!-- footer section -->
  </body>
</html>
