<!DOCTYPE html>
<html lang="en">
  <%-include('./components/head.ejs') %>
  <body>
    <%-include('./components/header.ejs') %>
    <%-include('./components/registerForm.ejs') %>

    <script src="/js/main.js"></script>
    <script>
      const checkIdBtn = document.querySelector('#checkId');
      
      // 아이디 체크 버튼
      checkIdBtn.addEventListener('click', async () => {
        const inputId = document.querySelector('#id');
        const response = await axios.get(`/api/auth/user/${inputId.value}`);

        if (response.data) {
          alert('아이디가 이미 존재합니다.');
          inputId.value = '';
        }
        if (!response.data) {
          alert('아이디 사용 가능');
        }
      });

      const signupBtn = document.querySelector('signup-btn');
      signupBtn.addEventListener('click', () => {});
    </script>
  </body>
</html>
