<section class="container-fluid footer_section">
  <p>
    문의전화 : 010-0000-000 </br>주소 :
    <a href="https://download.kr.riotgames.com/league/"
      >https://download.kr.riotgames.com/league/</a
    >
  </p>
</section>
