<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="" />
        <span> 글래머와 캠핑 </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >메인으로 <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view/reserve"> 예약하기 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view/rooms"> 캠프 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view/community"> 리뷰 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view/inquiry"> 문의하기 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view/chatting"> 실시간문의 </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<script>
  // function mypage() {
  //   $.ajax({
  //     type: 'GET',
  //     url: `/api/camps/`,

  //     success: function (result) {
  //       if (result) {
  //         alert('완료');
  //       } else {
  //         alert('전송된 값 없음');
  //       }
  //     },
  //     error: function () {
  //       alert('전송 실패');
  //     },
  //   });
  // }
  if (!document.cookie) {
    let temp_html = `
        <li class="nav-item">
                <a class="nav-link" href="/view/login"> 로그인 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/view/sign-up"> 회원가입 </a>
              </li>`;
    $('.navbar-nav').append(temp_html);
  } else {
    let temp_html = `
              <li class="nav-item">
                <a type="button" class="nav-link" onclick="logout()"> 로그아웃 </a>
              </li>
              <li class="nav-item">
                <a id="mypage-btn" type="button" class="nav-link" > 마이페이지 </a>
              </li>`;
    $('.navbar-nav').append(temp_html);
  }

  function logout() {
    axios
      .post('/api/auth/log-out')
      .then((response) => {
        localStorage.clear();
        window.location.href = '/';
      })
      .catch((error) => console.log(error.message));
  }

  const mypageBtn = document.querySelector('#mypage-btn');

  mypageBtn.addEventListener('click', () => {
    const userId = localStorage.getItem('userId');
    window.location.href = `/view/mypage/${userId}`;
  });
</script>
