<div id="wrap">
  <div>
    <div>아이디</div>
    <input id="userId" type="text" />
  </div>
  <div>
    <div>비밀번호</div>
    <input id="password" type="password" />
  </div>
  <div>
    <a id="findId-btn" href="/view/lost/id">아이디/비밀번호 찾기</a>
  </div>

  <button id="login-btn"><div>로그인</div></button>
  <button id="signup-btn" onclick="window.location.href='sign-up'">
    <div>회원가입</div>
  </button></br></br>
  <button onclick="location.href='/api/auth/login/google'">
    구글 로그인
  </button>
</div>
