<div id="wrap">
  <div>
    <div>이름</div>
    <input id='name' type="text" />
  </div>
  <div>
    <div>email</div>
    <input id='email' type="text" />
  </div>
  <div>
    <input id='userId' disabled type="text" />
  </div>

  <button id='find-btn'><div>아이디찾기</div></button>
  <div>
    <a id='login-btn' href="/view/login">로그인</a>
    /
    <a id='login-btn' href="/view/lost/password">비밀번호 찾기</a>
  </div>
</div>