<div id="wrap">
  <div>
    <div>아이디</div>
    <input id="userId" type="text" />
  </div>
  <div>
    <div>이메일</div>
    <input id="email" type="text" />
  </div>
  <div>
    <div>휴대폰 번호</div>
    <input id="phone" type="text" />
    <button id="auth-btn">인증번호 발급</button>
  </div>
  <div>
    <div>인증번호</div>
    <input id="auth" type="text" />
    <button id="auth-btn" onclick="Certification()">인증확인</button>
  </div>

  <button id="find-btn"><div>확인</div></button>
</div>
