<!DOCTYPE html>
<html>
  <body>
    <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/view/management"
            >관리자홈</a
          >
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              시설관리
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="/view/management/camp"
                  >시설조회</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/view/management/camp/register"
                  >시설등록</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              회원관리
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="/view/management/users"
                  >회원조회</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              결제관리
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="/view/management/orders"
                  >주문조회</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              쿠폰관리
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="/view/management/coupon"
                  >쿠폰조회</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/view/management/coupon/register"
                  >쿠폰생성</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/view/management/coupon/give"
                  >쿠폰지급</a
                >
              </li>
            </ul>
          </div>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">ㅁ</a>
          </li> -->
      </ul>
    </div>
  </body>
</html>
