
    <div class="coupon">
        <div>캠프 등록 페이지</div>
        쿠폰명 : <input type="text" id="name"></br>
        할인율 : <input type="number" id="discount"> %</br>
        사용기한 : <input type="number" id="dateOfUse"> 개월</br>
        최대할인액 : <input type="number" id="maxDiscount"> 원</br>
        <button onclick="createCoupon()">등록</button>
        <button onclick="location.replace('/view/management/camp')">뒤로가기</button>
      </div>
