<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
</head>
<body>
    <div class="camps">
        <div>캠프 등록 페이지</div>
        이름 : <input type="text" id="name" placeholder="캠프명"/></br>
        최대인원 : <input type="number" id="headcount" placeholder="최대인원"/></br>
        가격 : <input type="number" id="price" placeholder="가격"/> </br>
        유형 : <input type="number" id="type" placeholder="유형"/></br></br>
        <button onclick="createCamp()">등록</button>
        <button onclick="location.replace('/view/management/camp')">뒤로가기</button>
      </div>
</body>
</html>