<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin-users</title>
  </head>


  <body>
    <h1>유저 정보 수정</h1>
    <div class="updateform">
      <!-- <div id="id" value="">유저아이디 : </div> -->
        이름 : <input type="text" id="name" /></br>
        핸드폰번호 : <input type="string" id="phone" /></br>
        이메일 : <input type="string" id="email" /> </br>
        비밀번호 : <input type="string" id="password" /></br>

      <button onclick="updateUser()">수정하기</button>
    
      <button onclick="location.replace('/view/management/users')">뒤로가기</button>
    </div>
  </body>




  <script>
 
  </script>
</html>


