<table class="table">
  <thead>
    <tr>
      <th scope="col">객실</th>
      <th scope="col">기본가</th>
      <th scope="col">유형</th>
      <th scope="col">기준인원 초과요금</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">A</th>
      <td>50000</td>
      <td>type : 1</td>
      <td>10000</td>
    </tr>
    <tr>
      <th scope="row">B</th>
      <td>100000</td>
      <td>type : 2</td>
      <td>15000</td>
    </tr>
  </tbody>
</table>
