<div id="wrap">
  <div>
    <div>아이디</div>
    <input id='userId' type="text" />
    <button id='checkId'>아이디체크</button>
  </div>
  <div>
    <div>비밀번호</div>
    <input id='password' type="password" />
  </div>
  <div>
    <div>비밀번호확인</div>
    <input id='passwordConfirm' type="password" />
  </div>
  <div>
    <div>이름</div>
    <input id='name' type="text" />
  </div>
  <div>
    <div>이메일</div>
    <input id='email' type="text" />
  </div>
  <div>
    <div>휴대폰</div>
    <input id='phone'type="text" />
  </div>
  <div>
    <div>생년월일</div>
    <input id='birthday'type="date" />
  </div>
  
  <button id='signup-btn'><div>회원가입</div></button>
</div>