<div id="wrap">
  <div>
    <div>새 비밀번호</div>
    <input id='password' type="password" />
  </div>
  <div>
    <div>비밀번호 확인</div>
    <input id='passwordConfirm' type="password" />
  </div>

  <button id='reset-password-btn'><div>확인</div></button>
</div>