<div id="wrap">
  <div>
    <div>제목</div>
    <input id="review-title" type="text" disabled />
  </div>
  <div>
    <div>작성자</div>
    <input id="review-userId" type="text" disabled/>
  </div>
  <div>
    <div>내용</div>
    <textarea disabled name="" id="review-content" cols="30" rows="10"></textarea>
  </div>

  <button id="review-update"><div>수정</div></button>
  <button id="review-delete" onclick="window.location.href='/'">
    <div>삭제</div>
  </button></br></br>
  <button onclick="location.href='/'">
    글 목록
  </button>
</div>
