<div id="wrap">
  <div>
    <div>제목</div>
    <input id="review-title" type="text" disabled />
  </div>
  <div>
    <div>작성자</div>
    <input id="review-userId" type="text" disabled />
  </div>
  <div>
    <div>내용</div>
    <textarea
      disabled
      name=""
      id="review-content"
      cols="30"
      rows="10"
    ></textarea>
  </div>

  <button type="button" class="btn btn-light" id="review-update">
    <div>수정</div>
  </button>
  <button type="button" class="btn btn-light" id="review-delete">
    <div>삭제</div>
  </button>
  <br /><br />
  <button
    style="margin: 5px"
    type="button"
    class="btn btn-light"
    onclick="location.href='/view/community'"
  >
    리뷰 목록으로
  </button>
</div>
